@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
html {
    box-sizing: border-box;
}

* {
    -webkit-font-smoothing: antialiased;
}

body {
    margin: 0;
    font-family: 'IBM Plex Sans', Arial, sans-serif;
}

.four-column {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    column-gap: 1rem;
    row-gap: 0rem; 
}

.two-row {
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(48.3%, 1fr));
    column-gap: 1rem;
    row-gap: 2rem; 
}

.two-column {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(48.3%, 1fr));
    column-gap: 2rem;
    row-gap: 1rem;
}

.two-column img {
    width: 100%;
    object-fit: cover;
}

.three-column {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    column-gap: 2rem;
}

#more-stories {
    background: url(../img/more-stories.jpg);
    padding: 0.1rem 1rem 1rem 1rem;
    color: white;
}

#more-stories:hover {
    text-decoration: none;
}


.stories {
    margin-bottom: 3rem;
}

.stories img {
    object-fit: cover;
    height: 14rem;
    width: 100%;
}

/* Project cards */

.projects {
    margin-bottom: 3rem;
}

.project-card {
    margin-bottom: 4rem;
    background-color: #F2F4F8;
    padding: 1rem;
}

.project-card:hover {
    background-color: #DDE1E5;
}

.project-card a {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(49%, 1fr)); 
    column-gap: 1rem;
    color: black;
}

.project-card img {
    object-fit: cover;
    height: 22rem;
    width: 100%;
}


.project-card h3 {
    font-size: 2.6rem;
    font-weight: 400;    
    margin-block-start: 0;
    max-width: 25rem;
}

.project-card p {
    font-size: 1.3rem;
    max-width: 30rem;
}

.project-card:hover {
    text-decoration: underline;
}

/* Project page */

/* .project {
    background-color: #070707;
    color: white;
} */

.project .caption {
    color: #555;
}

.project-header {
    object-fit: cover;
    height: 35rem;
    width: 100%;
    margin-top: 1rem;
}

.project .two-column {
    grid-template-columns: repeat(auto-fill, minmax(46.3%, 1fr));
    column-gap: 5rem;
    margin-bottom: 4rem;
}

.project-title {
    font-size: calc(4.5rem + 6 * ((4.4rem - 320px) / 680));
    line-height: 6rem;
    font-weight: 400;
    margin-block-end: 0;
    max-width: 60rem;
    word-wrap: break-word;
}

.project h2 {    
    font-weight: 400;
    max-width: 60rem;
    word-wrap: break-word;
}

.project h3 {
    font-weight: 500;
    border-top: 2px solid black;
    display: inline-block;
    padding-top: 0.5rem;
    margin-top: 4rem;
    margin-bottom: 3rem;
}

.project h4 {
    font-weight: 600;
    color: black;
    margin-block-start: 0rem;
}


.other-project h4{
    font-size: 2.5rem;
    margin-block-start: 1.2rem;
    margin-block-end: 0;
}

.other-project h5 {
    font-weight: 400;
    font-size: 1.1rem;    
}

.other-project h6 {
    font-size: 1.2rem;
}

p {
    margin-block-start: 0rem;
}

a {
    color: #FF1718;
    text-decoration: none;
}

.white-link:hover {
    color: white;
}

a:hover {
    text-decoration: underline;
}

img {
    max-width: 100%;
}

.caption {
    font-size: 1rem;
    color: #666;
}

pre {
    border-radius: 0.3rem;
}

/* header */

.header {
    background-color: white;
    position: fixed;
    border-bottom: 1px solid #BBBBBB;
    top: 0;
    width: 100%;
    z-index: 3;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: white;
}

.header li a {
    display: block;
    padding: 13px 20px;
    font-size: 0.9rem;
    font-weight: 500;
    text-decoration: none;
    color: #222;
}

.header li a:hover, .header .menu-btn:hover {
    text-decoration: underline;
}

.header .logo {
    display: block;
    float: left;
    width: 7rem;
    padding: 8px 20px;
    text-decoration: none;
}

/* menu */

.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .3s ease-in;
}

/* menu icon */

.header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 24px 20px;
    position: relative;
    user-select: none;
}

.header .menu-icon .navicon {
    background: #111;
    display: block;
    height: 2px;
    position: relative;
    transition: background .3s ease-out;
    width: 18px;
}

.header .menu-icon .navicon:before, .header .menu-icon .navicon:after {
    background: #111;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.header .menu-icon .navicon:before {
    top: 5px;
}

.header .menu-icon .navicon:after {
    top: -5px;
}

/* menu btn */

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked~.menu {
    max-height: 540px;
}

.header .menu-btn:checked~.menu-icon .navicon {
    background: transparent;
}

.header .menu-btn:checked~.menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.header .menu-btn:checked~.menu-icon .navicon:after {
    transform: rotate(45deg);
}

.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:before, .header .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
    top: 0;
}

.header.scrolled {
    background-color: black;
}

/* 48em = 768px */

@media (min-width: 65em) {
    .header li {
        float: left;
    }
    .header .menu {
        clear: none;
        float: right;
        max-height: none;
    }
    .header .menu-icon {
        display: none;
    }
    .demo {
        margin-bottom: 6rem;
        background-color: #DEDDE1;
    }
}

/* body */

main {
    padding-top: 2.9rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 5rem;
}

.brands {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(6rem, 1fr));
    column-gap: 3rem;
    align-items: center;
    justify-items: center;
    max-width: 75rem;
    margin-left: auto;
    margin-right: auto;
    padding-right: 1rem;
    padding-left: 1rem;
}

.brands img {
    filter: grayscale(100%);
    max-height: 6rem;
    max-width: 8rem;
}

.brands img:hover {
    filter: grayscale(0%);
}

.wrap-content {
    max-width: 75rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0rem 0rem;
}

section {
    padding: 4rem 1rem 5rem 1rem;
}

.section-body {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(51%, 1fr));
    margin-bottom: 1rem;
}

.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    column-gap: 5.1rem;
}

.service img {
    max-width: 2rem;
    max-height: 2rem;
    padding-bottom: 0;
    padding-top: 2rem;
}

.service h3 {
    font-size: calc(1.4rem + 6 * ((4.4rem - 320px) / 680));
    font-weight: 600;
}

.service p {
    font-size: calc(1.2rem + 6 * ((4.4rem - 320px) / 680));
}

/* 
  TEXT ELEMENTS -------------------
*/

/* For display purposes (to remove warnings) */

  
  @-webkit-keyframes run {
      0% {
        left: 0;
        transform: translateX(100%);
      }
      100% {
        left: 100%;
        transform: translateX(-100%);
      }
  }


.cover-medium {
    padding: 2rem 1rem 1rem 1rem;
}

.cover-medium h1 {
    font-size: 3.2rem;
    font-weight: 500;
    /* animation: linear infinite alternate;
    animation-name: run;
    animation-duration: 10s; */

}

.cover-medium h2 {
    font-size: 2rem;
    font-weight: 400;
    max-width: 50rem;
}

.cover-medium img {
    height: 30rem;
    width: 100%;
    object-fit: cover;
}

.landing {
    padding: 5rem 1rem 4rem 1rem;
    /* background-color: #F2F4F8; */
    /* background-color: #e4ecf8; */
    background-color: #EEF1F7;
}

.landing h1 {
    font-size: calc(3.2rem + 6 * ((4.4rem - 320px) / 680));
    font-weight: 600;
    line-height: 4rem;
    color: #222;
}

.landing img {
    margin-top: 2.5rem;
    height: 33rem;
}

.subheading {
    font-size: calc(1.7rem + 6 * ((4.4rem - 320px) / 680));
    font-weight: 500;
    color: #555;
}

.body-heading {
    font-weight: 500;
    font-size: 2.2rem;
    border-top: 2px solid;
    padding-top: 1rem;
    margin-bottom: 6rem;
    margin-top: 8rem;
}

h1 {
    font-size: calc(5.5rem + 6 * ((4.4rem - 320px) / 680));
    font-weight: 500;
}

section h2 {
    font-weight: 500;
    font-size: 2.4rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50%, 30rem));
    margin-block-start: 0;
    padding-top: 1.5rem;
    border-top: 2px solid black;
}

h2 {
    font-size: calc(1.8rem + 6 * ((4.4rem - 320px) / 680));
}

h3 {
    font-size: 1.9rem;
    font-weight: 400;
    margin-block-end: 0.7rem;
}

h4 {
    font-size: 1.3rem;
    font-weight: 400;
    color: #111;
}

.thin {
    font-weight: 100;
}

.extra-light {
    font-weight: 200;
}

.light {
    font-weight: 300;
}

.regular {
    font-weight: 400;
}

.medium {
    font-weight: 500;
}

.semi-bold {
    font-weight: 600;
}

.bold {
    font-weight: 700;
}

/* COLOUR */

.text-black {
    color: black;
}

.text-white {
    color: white;
}

.bg-black {
    background-color: #121212;
}

.bg-gray {    
    /* background-color: rgba(212, 219, 224, 1); */
    background-color: #F2F4F8;
}

.bg-dark-gray {
    background-color: #353A3E;
}

.bg-black-gray {
    background-color: #121619;
    color: white;
}

.red {
    background-color: #EE0005;
}

.pale-red {
    background-color: #FF1D27;
}

.black {
    background-color: #000;
}

.dark-gray {
    background-color: #131619;
}

.gray {
    background-color: #353A3E;
}

.light-gray {
    background-color: #C2C7CC;
}

/* Image size */

.image-very-large {
    height: 50rem;
    width: 100%;
    object-fit: cover;
}

.image-large {
    height: 35rem;
    width: 100%;
    object-fit: cover;
}

.image-medium {
    height: 25rem;
    width: 100%;
    object-fit: cover;
}

.image-small {
    height: 20rem;
    width: 100%;
    object-fit: cover;
}

/* Font sizes */

.font-small {
    font-size: 0.9rem;
}

.font-medium {
    font-size: 1.2rem;
}

.font-large {
    font-size: 1.4rem;
}

.font-extra-large {
    font-size: 1.7rem;
}

/* Submit and reset buttons */

.button-nav {
    display: inline-block;
    color: white;
    background-color: #FC001F;
    font-size: 1rem;
    padding: 0.8rem 2rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition: 0.2s;
}

.button-nav:hover {
    background-color: #da0019;
    color: white;
    text-decoration: none;
}

input[type="submit"], input[type="reset"] {
    color: white;
    background-color: #FF001D;
    font-size: 1rem;
    padding: 1rem 3.5rem;
    border: none;
    cursor: pointer;
    transition: 0.2s;
}

input[type="submit"]:hover, input[type="reset"]:hover {
    border: none;
    background-color: #df001a;
    transition: 0.2s;
}

/* Form */

textarea {
    border: none;
    background-color: #F4F4F4;
    padding: 1.5rem;
    margin-top: 0.3rem;
    font-family: 'Heebo';
    font-size: 1rem;
    font-weight: 400;
    resize: vertical;
    outline-color: red;
}

/* Learned about focus from here: https://stackoverflow.com/questions/16156594/how-to-change-border-color-of-textarea-on-focus */

input {
    padding: 1.5rem;
    border: none;
    background-color: #F4F4F4;
    font-size: 1rem;
    font-weight: 400;
    outline-color: red;
}

.order-confirm {
    max-width: 36.6rem;
    background-color: #F4F4F4;
    padding: 1.5rem;
}

.order-request {
    display: grid;
    gap: 1rem;
    max-width: 40rem
}

/* learned about fr units from here: https://css-tricks.com/introduction-fr-css-unit/ */

.input-group-1, .input-group-2 {
    background-color: transparent;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 2fr));
    gap: 1rem;
}

.input-group-3 {
    display: grid;
    grid-template-rows: 1fr;
    gap: 1rem;
    width: inherit;
}

::placeholder {
    color: #999999;
}

label {
    display: block;
}

/* Link image and Brand image grid */

.single-image {
    border: 1px solid #ccc;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.image-link, .potential-imagery {
    background-color: transparent;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(49%, 1fr));
    gap: 1rem;
    max-width: 60rem;
}

/* Cards */

.cards img {
    transition: 0.2s ease-in;
}

.card img:hover {
    transition: 0.2s ease-in;
}

.card h3 {
    margin-block-start: 0rem;
    margin-block-end: 0.1rem;
    color: black;
}

.card h4 {
    margin-block-start: 0.5rem;
    margin-block-end: 5rem;
    color: black;
}

.card a {
    color: black;
}

.card {
    transition: 0.2s ease-in;
}

.card:hover {
    transform: scale(1.04);
    transition: 0.2s ease-in;
}


.large-card {
    padding: 1.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(47.9%, 1fr));
    column-gap: 3rem;
    row-gap: 2rem;
    margin-top: 2rem;
    justify-content: space-evenly;
}

.large-card h3 {
    font-size: 3rem;
    font-weight: 400;
}

.large-card p {
    font-size: 1.2rem;
}

.large-card a {
    font-weight: 500;
}

.large-card img {
    height: 25rem;
    width: 100%;
    object-fit: cover;
    padding-bottom: 0rem;
}

.article-card-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(48.8%, 1fr));
    column-gap: 1rem;
    row-gap: 1rem;
}

.article-card {
    background-color: #F2F4F8;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(48%, 1fr));
    padding: 2rem 1.5rem;
    column-gap: 1rem;
    row-gap: 1rem;
    margin-bottom: 1rem;
}

.article-card h3 {
    font-size: 1.6rem;
    font-weight: 500;
    margin-block-start: 0;
}

.article-card a {
    font-weight: 500;
}

.article-card img {
    object-fit: cover;
    justify-self: end;
}

.article-header {
    object-fit: cover;
    height: 25rem;
    width: 100%;
    margin-top: 5rem;
}

.article-title {
    max-width: 50rem;
    font-size: calc(3.1rem + 6 * ((4.4rem - 320px) / 680));
    font-weight: 400;
}

.author {
    font-weight: 400;
    font-size: 1.7rem;
    border-bottom: 1px solid #111;
    padding-bottom: 1.5rem;
    margin-bottom: 4rem;
}

.article-date {
    font-size: 1.2rem;
    font-weight: 500;
    color: #777;
    flex: 1 1 8rem;
}

.article-body {
    flex: 55rem;
}

.article {
    display: flex;
    flex-wrap: wrap;
}

.members {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(7rem, 1fr));
    column-gap: 1rem;
    row-gap: 1rem;
    align-content: center;
}

.members img {
    object-fit: cover;
    width: 8rem;
    height: 9rem;
    filter: grayscale(100%);
}

.two-column.team {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(46.3%, 1fr));
    column-gap: 5rem;
    row-gap: 5rem;
}


.team {
    margin-bottom: 10rem;
}

.team h3 {
    font-size: 3.1rem;
    font-weight: 400;
    margin-block-start: 0rem;
}

.team img {
    object-fit: cover;
    filter: grayscale(100%);
    max-height: 30rem;
    max-width: 28rem;
    margin-bottom: 1rem;
}

.team a {
    font-weight: 500;
}

footer {
    background-color: #121619;
    color: white;
    padding: 3rem 1rem 10rem 1rem;
}

footer p {
    font-weight: 600;
    font-size: 1rem;
}

footer a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

footer a:hover {
    text-decoration: underline;
    color: white;
}


.wrap-footer {
    max-width: 75rem;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(5rem, 13em));
    justify-content: space-between;
    row-gap: 3em;
    column-gap: 3rem;
    font-size: 1rem;
}

.footer-list {
    display: inline-grid;
    row-gap: 0.5rem;
}


.contact-list .button-nav {
    background-color: white;
    color: black;
}

.contact-list .button-nav:hover {
    background-color: #bbb;
}


.copyright {
    color: #bbb;
}